<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.primeton.maoxinjie.demo.dao.IOrganizationDao">
	<resultMap type="OrganizationModel" id="resultListOrganization">
		<id column="ID" property="orgId" />
		<result column="ORG_NAME" property="orgName" />
		<result column="ORG_ADDRESS" property="orgAddress" />
		<result column="ORG_STATUS" property="orgStatus" />
		<result column="ORG_PID" property="orgPid" />
		<result column="ORG_REMARK" property="orgRemark" />
		<collection property="users" ofType="UserModel">
			<id property="userId" column="ID" />
			<result column="USER_NAME" property="userName" javaType="java.lang.String" jdbcType="VARCHAR"/>
			<result column="USER_ACCOUNT" property="userAccount" javaType="java.lang.String" jdbcType="VARCHAR" />
			<result column="USER_SEX" property="userSex" javaType="java.lang.String" jdbcType="VARCHAR" />
			<result column="USER_PHONE" property="userPhone" javaType="java.lang.String" jdbcType="VARCHAR" />
		</collection>
	</resultMap>
	<sql id = "params"> 
		ID,ORG_NAME,ORG_ADDRESS,ORG_STATUS,ORG_PID,ORG_REMARK
	</sql>

	<!-- 添加组织机构 -->
	<insert id="insertOrganization" parameterType="OrganizationModel" useGeneratedKeys="true"
		keyProperty="orgId">
		INSERT INTO mxj_demo_organization (
			ORG_NAME,
			ORG_ADDRESS,
			ORG_STATUS,
			ORG_PID,
			ORG_REMARK
		)
		VALUES
		(#{orgName},#{orgAddress},'1',#{orgPid},#{orgRemark})
	</insert>
	<!-- 通过id删除组织机构 -->
	<delete id="deleteOrganizationById" parameterType="OrganizationModel">
		DELETE
		FROM
			mxj_demo_organization
		WHERE
			ID=#{orgId}
	</delete>
    <!-- 修改组织机构信息 -->
    <update id="updateOrganization" parameterType="OrganizationModel">
        UPDATE mxj_demo_organization
        <set>
	        <if test="orgName != null">
	        	ORG_NAME=#{orgName},
	        </if>
	        <if test="orgAddress != null">
	        	ORG_ADDRESS=#{orgAddress},
	        </if>
	        <if test="orgStatus != null">
	        	ORG_STATUS=#{orgStatus},
	        </if>
	        <if test="orgPid != null">
	        	ORG_PID=#{orgPid},
	        </if>
	        <if test="orgRemark != null">
	        	ORG_REMARK=#{orgRemark}
	        </if>
        </set>
        <where>
        	ID=#{orgId}
        </where>
    </update>
	<!-- 通过id获取组织机构信息 -->
	<select id="getOrganizationByID" parameterType="int" resultMap="resultListOrganization">
		SELECT 
			<include refid="params" /> 
		FROM
			mxj_demo_organization 
		WHERE 
			ID = #{orgId}
	</select>
	<!-- 通过名称获取组织机构信息 -->
	<select id="getOrganizationByOrgName" parameterType="String" resultMap="resultListOrganization">
		SELECT 
			<include refid="params" /> 
		FROM
			mxj_demo_organization 
		WHERE 
			ORG_NAME = #{orgName}
	</select>
	<!-- 组织机构的分页搜索查询 -->
	<select id ="queryOrganizationByPage" resultMap="resultListOrganization" parameterType="OrganizationModel">
		SELECT
			<include refid="params"/>
		FROM
			mxj_demo_organization
		<where>
			<if test="orgName != null">
				AND ORG_NAME like CONCAT('%',#{orgName},'%')
			</if>
		</where>
		ORDER BY ID
	</select>
	
	<select id ="queryOrganizationsByPid" resultMap="resultListOrganization" parameterType="int">
		SELECT
			<include refid="params"/>
		FROM
			mxj_demo_organization
		WHERE 
			ORG_PID = #{pid}
	</select>
</mapper>