<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.primeton.maoxinjie.demo.dao.IUserDao">
	<resultMap type="UserModel" id="baseResultUser">
		<id column="ID" property="userId" />
		<result column="USER_NAME" property="userName" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="USER_ACCOUNT" property="userAccount" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="USER_PWD" property="userPwd" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="USER_AGE" property="userAge" javaType="int" jdbcType="INTEGER" />
		<result column="USER_SEX" property="userSex" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="USER_PHONE" property="userPhone" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="USER_STATUS" property="userStatus" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="USER_REMARK" property="userRemark" javaType="java.lang.String" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="UserModel" id="resultUserList" extends="baseResultUser">
        <association property="org" javaType="OrganizationModel" columnPrefix="r_">
        	<id column="ID" property="orgId" />
        	<result column="ORG_NAME" property="orgName" />
			<result column="ORG_ADDRESS" property="orgAddress" />
        </association>
	</resultMap>
	<sql id= "baseParams"> 
		ID,USER_NAME,USER_ACCOUNT,USER_PWD,USER_AGE,USER_SEX,USER_PHONE,USER_STATUS,USER_REMARK
	</sql>
	<sql id="userOrgParams">
		u.ID,u.USER_NAME,u.USER_ACCOUNT,u.USER_PWD,u.USER_AGE,u.USER_SEX,u.USER_PHONE,u.USER_STATUS,u.USER_REMARK,
		r.ID r_ID,r.ORG_NAME r_ORG_NAME,r.ORG_ADDRESS r_ORG_ADDRESS
	</sql>
	<!-- 添加用户 -->
	<insert id="insertUser" parameterType="UserModel" useGeneratedKeys="true"
		keyProperty="userId">
		INSERT INTO mxj_demo_user (
			USER_NAME,
			USER_ACCOUNT,
			USER_PWD,
			USER_AGE,
			USER_SEX,
			USER_PHONE,
			ORG_ID,
			USER_STATUS,
			USER_REMARK
		)
		VALUES
		(#{userName},#{userAccount},#{userPwd},#{userAge},#{userSex},#{userPhone},#{org.orgId},'1',#{userRemark})
	</insert>
	<!-- 通过id删除用户 -->
	<delete id="deleteUserById" parameterType="int">
		DELETE
		FROM
			mxj_demo_user
		WHERE
			ID=#{userId}
	</delete>
    <!-- 修改用户信息 -->
    <update id="updateUser" parameterType="UserModel">
        UPDATE mxj_demo_user
        <set>
	        <if test="userName != null">
	        	USER_NAME=#{userName},
	        </if>
	        <if test="userPwd != null">
	        	USER_PWD=#{userPwd},
	        </if>
	        <if test="userAge != null">
	        	USER_AGE=#{userAge},
	        </if>
	        <if test="userSex != null">
	        	USER_SEX=#{userSex},
	        </if>
	        <if test="userPhone != null">
	        	USER_PHONE=#{userPhone},
	        </if>
	        <if test="org != null">
	        	ORG_ID=#{org.orgId},
	        </if>
	        <if test="userStatus != null">
	        	USER_STATUS=#{userStatus},
	        </if>
        </set>
        <where>
        	ID=#{userId}
        </where>
    </update>
	<!-- 通过用户名密码查询  -->
	<select id="getUserByAccountAndPwd" parameterType="UserModel" resultMap="resultUserList">
		SELECT
			<include refid="userOrgParams"/>
		FROM
			mxj_demo_user u 
		LEFT JOIN mxj_demo_organization r
		ON 
			u.ORG_ID=r.ID
		WHERE
			u.USER_ACCOUNT = #{userAccount}	AND	u.USER_PWD = #{userPwd}
	</select>
    <!-- 通过id获取用户信息 -->
	<select id="getUserByID" parameterType="UserModel" resultMap="resultUserList">
		SELECT
			<include refid="userOrgParams"/>
		FROM
			mxj_demo_user u 
		LEFT JOIN mxj_demo_organization r
		ON 
			u.ORG_ID=r.ID
		WHERE 
			u.ID = #{userId}
	</select>
    <!-- 通过oid获取用户信息 -->
	<select id="queryUserByOID" parameterType="int" resultMap="resultUserList">
		SELECT 
			<include refid="baseParams" /> 
		FROM
			mxj_demo_user 
		WHERE 
			ORG_ID = #{orgId}
	</select>
    <!-- 通过用户名称查询用户 -->
	<select id="getUserByUserAccount" parameterType="String" resultMap="resultUserList">
		SELECT 
			<include refid="baseParams" /> 
		FROM
			mxj_demo_user 
		WHERE 
			USER_ACCOUNT=#{userAccount} 
	</select>
	<!-- 用户的分页搜索查询 -->
	<select id ="queryUserByPage" resultMap="resultUserList" parameterType="UserModel">
		SELECT
			<include refid="userOrgParams"/>
		FROM
			mxj_demo_user u
		LEFT JOIN mxj_demo_organization r
		ON 
			u.ORG_ID=r.ID
		<where>
			<if test="userName != null">
				AND u.USER_NAME like CONCAT('%',#{userName},'%')
			</if>
			<if test="userSex != null">
				AND u.USER_SEX=#{userSex}
			</if>
			<if test="org.orgId != null">
				AND u.ORG_ID=#{org.orgId}
			</if>
		</where>
		ORDER BY ID
	</select>
	<!-- 搜索查询用户的数量 -->
	<select id="countUser" resultType="int" parameterType="UserModel">
		SELECT
			COUNT(*)
		FROM
			mxj_demo_user
		<where>
				<if test="uName != null">
					AND USER_NAME like CONCAT('%',#{uName},'%')
				</if>
				<if test="uSex != null">
					AND USER_SEX = #{uSex}
				</if>
		</where>
	</select>
	
</mapper>